.theme-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.theme-category__title{
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 800;
  font-family: 'Sono', sans-serif;
}

.theme-container__items{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem auto;
}

.theme-item{
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: .5rem;
  border-radius: .25rem;
  border: solid 1px var(--primary-button-border);
  background-color: var(--primary-button);
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: .7rem;
  font-weight: 700;
}

.theme-item:hover{
  background-color: var(--hover-primary-button);
}

@media screen and (max-width: 720px) {
  .theme-category__title{
    font-size: 1.5rem;
  }

  .theme-item{
    font-size: 1rem;
    margin: auto .2rem;
}
  
}