.header__wrapper{
    z-index: 100;
}

.settings{
    background: $color-neutral-100;

    padding: $padding-base;

    position: absolute;
    top: 0;
    left: -100%;
    opacity: 1;

    transition: all 0.5s ease-in-out;

    width: 20%;
    height: 40vh;

    z-index: 99;

    &.active{
        left: 0;
        top: 0;

        padding-top: 7rem;
    }

    .settings__features{
        margin-top: $margin-base;
    }
}

.hello-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    overflow: hidden;
    z-index: 10000;
  }
  
  .hello-languages {
    font-size: 2rem;
  }

//   animation that will make the opacity from 1 to 0 from 0 to 99 and at 100 it will display none
@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    99% {
      opacity: 0;
    }
    100% {
      display: none;
    }
  }

.hello-container__animation{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    overflow: hidden;
    z-index: 10000;
    animation: fadeOut 1s ease-in-out;
}
