.audio-player {
    max-width: 350px;
    border-radius: 20px;
    padding: 24px;
    background-color: rgba(0,0,0, 0.6);
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.7);
    margin: auto;
    color: var(--white);
  }
  
  .artwork {
    border-radius: 120px;
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
  }
  
  .track-info {
    text-align: center;
      z-index: 1;
    position: relative;
  }
  
  .title {
    color: var(--white);
    font-weight: 700;
    margin-bottom: 4px;
  }
  
  .artist {
    color: var(--white);
    font-weight: 300;
    margin-top: 0;
  }

  .control-button{
    color: var(--white);
    font-size: 2em;
    border: none;
    background: transparent;
    font-weight: 300;
    margin-top: 0;
  }

  .control-button:hover{
    color: var(--gray);
    cursor: pointer;
  }