.background-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
  
  
  }
  
  .background-category__title{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 800;
    font-family: 'Sono', sans-serif;
  }
  
  .background-container__items{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem auto;
  }
  
  .background-item{
    min-width: 120px;
    max-width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem;
    border-radius: .25rem;
    border: solid 1px var(--primary-button-border);
    background-color: var(--primary-button);
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: .7rem;
    font-weight: 700;
  }
  
  .background-item:hover{
    background-color: var(--hover-primary-button);
  }

  @media screen and (max-width: 720px) {
    .background-category__title{
      font-size: 1.5rem;
    }
  
    .background-container__items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        grid-row-gap: 1.4rem;
    }

    .background-item{
      font-size: 1.5rem;
      margin: auto .2rem;
  }
    
  }