@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Sono:wght@300;400;500;600;700&display=swap');

:root{
  /* Primary colours */
  --background-color: hsla(0, 0%, 0%, 1);
  --text-color: hsla(0, 0%, 100%, 1);
  --player-color: hsla(0, 0%, 100%, 1);
  --button-color: hsla(0, 0%, 100%, 1);

  --hover-button-color: hsla(var(--blue-hue), var(--saturation-50), var(--light-80), var(--opacity-10));

  --primary-button: hsla(var(--blue-hue), var(--saturation-50), var(--light-30), var(--opacity-9));
  --primary-button-border: hsla(var(--blue-hue), var(--saturation-50), var(--light-40), var(--opacity-9));
  --hover-primary-button: hsla(var(--blue-hue), var(--saturation-30), var(--light-50), var(--opacity-9));

  --background-menu: hsla(var(--blue-hue), var(--saturation-50), var(--light-10), var(--opacity-8));
  --hover-background-menu: hsla(var(--blue-hue), var(--saturation-50), var(--light-20), var(--opacity-8));
  
  --settings-button-color: hsla(var(--blue-hue), var(--saturation-50), var(--light-80), var(--opacity-10));

  /* hue, saturation, light, opacity */
  --red-hue: 0;
  --orange-hue: 30;
  --yellow-hue: 60;
  --green-hue: 120;
  --cyan-hue: 180;
  --blue-hue: 220;
  --purple-hue: 270;
  --pink-hue: 300;
  
  --saturation-0: 0;
  --saturation-10: 10%;
  --saturation-20: 20%;
  --saturation-30: 30%;
  --saturation-40: 40%;
  --saturation-50: 50%;
  --saturation-60: 60%;
  --saturation-70: 70%;
  --saturation-80: 80%;
  --saturation-90: 90%;
  --saturation-100: 100%;

  --light-0: 0%;
  --light-10: 10%;
  --light-20: 20%;
  --light-30: 30%;
  --light-40: 40%;
  --light-50: 50%;
  --light-60: 60%;
  --light-70: 70%;
  --light-80: 80%;
  --light-90: 90%;
  --light-100: 100%; 

  --opacity-1: 0.1;
  --opacity-2: 0.2;
  --opacity-3: 0.3;
  --opacity-4: 0.4;
  --opacity-5: 0.5;
  --opacity-6: 0.6;
  --opacity-7: 0.7;
  --opacity-8: 0.8;
  --opacity-9: 0.9;
  --opacity-10: 1;

}

[data-theme='dark'] {
  --background-color: hsla(0, 0%, 0%, 1);
  --text-color: hsla(0, 0%, 100%, 1);
  --player-color: hsla(0, 0%, 100%, 1);
  --button-color: hsla(0, 0%, 100%, 1);

  --hover-button-color: hsla(var(--blue-hue), var(--saturation-100), var(--light-40), var(--opacity-10));

  --primary-button: hsla(var(--blue-hue), var(--saturation-50), var(--light-10), var(--opacity-9));
  --primary-button-border: hsla(var(--blue-hue), var(--saturation-50), var(--light-80), var(--opacity-9));
  --hover-primary-button: hsla(var(--blue-hue), var(--saturation-90), var(--light-20), var(--opacity-9));

  --background-menu: hsla(var(--blue-hue), var(--saturation-50), var(--light-10), var(--opacity-8));
  --hover-background-menu: hsla(var(--blue-hue), var(--saturation-100), var(--light-40), var(--opacity-8));

  --settings-button-color: hsla(var(--blue-hue), var(--saturation-50), var(--light-80), var(--opacity-10));
}

[data-theme='crimson'] {
  --background-color: hsla(0, 0%, 0%, 1);
  --text-color: hsla(0, 0%, 100%, 1);
  --player-color: hsla(0, 0%, 100%, 1);
  --button-color: hsla(0, 0%, 100%, 1);

  --hover-button-color: hsla(var(--red-hue), var(--saturation-50), var(--light-80), var(--opacity-10));

  --primary-button: hsla(var(--red-hue), var(--saturation-50), var(--light-30), var(--opacity-9));
  --primary-button-border: hsla(var(--red-hue), var(--saturation-50), var(--light-50), var(--opacity-9));
  --hover-primary-button: hsla(var(--red-hue), var(--saturation-100), var(--light-50), var(--opacity-9));

  --background-menu: hsla(var(--red-hue), var(--saturation-50), var(--light-10), var(--opacity-8));
  --hover-background-menu: hsla(var(--red-hue), var(--saturation-50), var(--light-20), var(--opacity-8));

  --settings-button-color: hsla(var(--red-hue), var(--saturation-50), var(--light-40), var(--opacity-10));
}

[data-theme='light'] {
  --background-color: hsla(0, 0%, 100%, 1);
  --text-color: hsla(260, 100%, 20%, 1);
  --player-color: hsla(0, 0%, 0%, 1);
  --button-color: hsla(0, 0%, 0%, 1);

  --hover-button-color: hsla(var(--red-hue), var(--saturation-50), var(--light-20), var(--opacity-10));

  --primary-button: hsla(var(--red-hue), var(--saturation-50), var(--light-70), var(--opacity-9));
  --primary-button-border: hsla(var(--red-hue), var(--saturation-100), var(--light-30), var(--opacity-9));
  --hover-primary-button: hsla(var(--red-hue), var(--saturation-30), var(--light-50), var(--opacity-9));

  --background-menu: hsla(var(--red-hue), var(--saturation-50), var(--light-90), var(--opacity-8));
  --hover-background-menu: hsla(var(--red-hue), var(--saturation-50), var(--light-80), var(--opacity-8));

  --settings-button-color: hsla(var(--red-hue), var(--saturation-50), var(--light-80), var(--opacity-10));
}

[data-theme='blue'] {
  --background-color: hsla(0, 0%, 0%, 1);
  --text-color: hsla(0, 100%, 99%, 1);
  --player-color: hsla(0, 0%, 100%, 1);
  --button-color: hsla(0, 0%, 100%, 1);

  --hover-button-color: hsla(var(--blue-hue), var(--saturation-100), var(--light-50), var(--opacity-10));

  --primary-button: hsla(var(--blue-hue), var(--saturation-50), var(--light-20), var(--opacity-9));
  --primary-button-border: hsla(var(--blue-hue), var(--saturation-100), var(--light-40), var(--opacity-9));
  --hover-primary-button: hsla(var(--blue-hue), var(--saturation-100), var(--light-50), var(--opacity-9));

  --background-menu: hsla(var(--blue-hue), var(--saturation-100), var(--light-20), var(--opacity-8));
  --hover-background-menu: hsla(var(--blue-hue), var(--saturation-100), var(--light-40), var(--opacity-8));

  --settings-button-color: hsla(var(--blue-hue), var(--saturation-50), var(--light-90), var(--opacity-10));
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Sono', sans-serif;
}

.App{
  width: 100%;
}