.settings-container{
    position: fixed;
    top: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    z-index: 100;
    display: flex;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow-y: scroll;
}

.settings-button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
}


.settings-menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 20rem;
    height: auto;
    background-color: var(--background-menu);
    border-radius: .5rem 0 .5rem .5rem;
    padding: 1rem;
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
}

.settings-menu.open{
    transform: translateX(0%);
}

.open{
    transform: translateX(0%);
}

.settings-button__close{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem;
    border-radius: .25rem;
    border: solid 1px var(--primary-button-border);
    background-color: var(--primary-button);
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem auto;
}



.settings-button__close:hover{
    background-color: var(--hover-primary-button);
    border: solid 1px var(--hover-primary-button-border);
}


.spin {
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* when desktop or tablet > 720px the button is on top right side when mobile, we make a mobile menu at the bottom*/
@media screen and (max-width: 720px){
    .settings-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5rem;
        background-color: var(--background-menu);

        border-radius: none;

        margin: 0 auto;

        position: fixed;
        bottom: 0rem;
        left: 0;
        top: unset;
    }

    .settings-button{
        color: var(--text-color);
    }

    .settings-menu{
        position : fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        display: flex;
        justify-content: space-between;
    }

    .settings-menu-wrapper {
        width: 100%;
        margin: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .settings-button__close{
        font-size: 2rem;
        padding: 1rem;
        border-radius: .75rem;
        margin-bottom: 5rem;
    }

}

.hidden{
    display: none;
}