.settings-container{
    position: fixed;
    top: 0;
    right: 0;
    width: fit-content;
    padding: 1rem;
    z-index: 100;
    display: flex;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.settings-button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
}


.settings-menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 20rem;
    height: auto;
    background-color: var(--background-menu);
    border-radius: .5rem 0 .5rem .5rem;
    padding: 1rem;
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
}

.settings-menu.open{
    transform: translateX(0%);
}

.open{
    transform: translateX(0%);
}

.settings-button__close{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem;
    border-radius: .25rem;
    border: solid 1px var(--primary-button-border);
    background-color: var(--primary-button);
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem auto;
}

.settings-button__close-menu{
    position: absolute;
    top: 3%;
    right: 6%;
    background-color: transparent;
    outline: none;
    border: none;
    width: fit-content;
    height: auto;
    border-radius: 50%;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 3rem;
    font-weight: 700;
}


.settings-category__title{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 800;
    font-family: 'Sono', sans-serif;
  }

.settings-button__close:hover{
    background-color: var(--hover-primary-button);
}


.spin {
    animation: spin 10s linear infinite;
}

.settings-menu-wrapper {
    padding-top: 3rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* when desktop or tablet > 720px the button is on top right side when mobile, we make a mobile menu at the bottom*/
@media screen and (max-width: 720px){
    .settings-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5rem;
        background-color: var(--background-menu);

        margin: 0 auto;

        position: fixed;
        bottom: 0rem;
        left: 0;
        top: unset;
    }

    .noBackground{
        background-color: transparent;
    }

    .settings-button{
        color: var(--text-color);
    }

    .settings-menu{
        position : fixed;
        top: 0;
        left: 0;

        padding-top: 6rem;

        height: 100%;
        width: 100%;

        border-radius: 0;

        display: flex;
        justify-content: space-between;
    }

    .settings-button__close{
        font-size: 1.3rem;
        padding: 1rem;
        border-radius: .75rem;
        margin-bottom: 5rem;
    }

    .settings-category__title{
        font-size: 1.5rem;
      }
      

}

.hidden{
    display: none;
}